<!DOCTYPE html>
<html>
<head>
	<title>Vue Basic</title>
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
<div id="app">
	{{msg}}
</div>
<div id="app-2">
<span v-bind:title='msg'>
Hover me!	
</span>
</div>
<div id="app-3" v-if="seen">
<span>Now you can see me!</span>
</div>
<div id="app-4" v-if=colors.length>
	<ol>
		<colors v-for="c in colors"
		v-bind:value="c"
		v-bind:key="c">
			
		</colors>
<!-- 		<li v-for="c in colors">{{c}}</li>
 -->	</ol>
</div>
<div id="app-5">
	<p>{{message}}</p>
	<button v-on:click="reverseMsg">Reverse Message</button>
	
</div>

<div id="app-6">
	<p>{{msg}}</p>
<input v-model="msg">	
<!-- <div v-html="rawHtml"></div> -->
</div>
<div id="app-7">
	{{first_name}} | {{last_name}}
	<br>
	{{fullName}}

</div>
<div id="app-8">
	<p>
		Ask a yes/no question:
		<input v-model="question">
	</p>
	<p>{{answer}}</p>
</div>
</body>
</html>
<!-- Since there is already a rich ecosystem of ajax libraries    -->
<!-- and collections of general-purpose utility methods, Vue core -->
<!-- is able to remain small by not reinventing them. This also   -->
<!-- gives you the freedom to use what you're familiar with. -->
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="client.js"></script>